.taskPage {
  width: 94%;
  margin: 32px auto;
  min-height: 70vh;
  background-image: linear-gradient(rgb(75, 68, 68), rgb(138, 135, 135));
  box-shadow: 10px 10px 5px #616060;
}

.taskPage > h1 {
  color: rgb(201, 197, 206);
  text-align: center;
  margin: 10px 0px;
  font-size: 31px;
}

.date{
  text-align: right;
  margin-top: -45px;
  margin-right: 10px;

}
.date > span:first-child {
  color: rgb(93, 202, 129);
  text-shadow: 6px 6px 12px rgb(93, 202, 129);
  

}

.date > span:nth-of-type(2) {
  color: #027bfb;
  text-shadow: 6px 6px 12px #027bfb;

}

.date > span:last-child {
  color: rgb(131, 27, 27);
  text-shadow: 6px 6px 12px rgb(131, 27, 27);

}

.taskButtons {
  text-align: right;
}

.taskPage > p {
  font-size: 23px;
  margin: 0px 70px;
  color: white;
  word-break: break-all;
}
