.nav {
  grid-area: n;
  background-color: rgb(75, 68, 68);
  font-size: 19px;
  font-weight: 800;
  user-select: none;

}

.nav > ul {
  list-style: none;
  margin-top: 40px;
  margin-left: -18px;
}

.nav > li {
  margin-top: 25px;
}

.activeLink {
  color: rgb(230, 222, 238);
  text-shadow: 2px 2px 9px rgb(230, 222, 238);
  font-size: 22px;
}
